body{ font-size: xx-large; 
text-align: center;}

#cpR {
    background-color: rgb(0, 0, 0);
    color: rgb(169, 145, 255);
    text-align: left;
font-size: xx-large;}


    #material-gworl {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        text-align: center;
    font-size: xx-large;}

        #yas {
            background-color: rgb(0, 0, 0);
            color: rgb(156, 214, 133);
            text-align: right;
        font-size: xx-large;}
       
        